@{
    ViewBag.Title = "Contactanos";
    Layout = "~/Views/Shared/_LayoutUSER.cshtml";
}

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <h3>Contactar:</h3>
        <p><b>Telefono de contacto: </b> +34966365365</p>
        <p><b>Email: </b><a href="mailto:lifetag@lifetag.com"> lifetag@lifetag.com</a></p>
        <p><b style="color:red;">Para cualquier problema con alguna publicacio presione el boton de reportar.</b></p>
        <p>Siguenos por las redes sociales:</p>
        <img src="/images/face.png" class="img-thumbnail"/>
        <img src="/images/twi.png" class="img-thumbnail" />
        <img src="/images/tele.png" class="img-thumbnail"/>
        <img src="/images/you.png" class="img-thumbnail"/>
    </div>
    <div class="col-sm-1"></div>
</div> 