@model TagLifeASPMVC.Models.Usuario
@{
    ViewBag.Title = "Publicaciones";
    Layout = "~/Views/Shared/_LayoutUSER.cshtml";
}


<body>

    <div class="text-center">
        <span class="glyphicon glyphicon-user" style="font-size:100px;"></span>
    </div>
        <h1 class="text-center">@Model.Nombre</h1>
        <h2 class="text-center"><kbd>Mis Publicaciones</kbd></h2>
    
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div id="section1" class="thumbnail">
                        @{Html.RenderAction("publi", "Publicacion");}
                    </div>
                </div>
            </div>
        </div>
</body>

