@model TagLifeASPMVC.Models.Usuario

@{
    ViewBag.Title = "LifeTag | Perfil";
	Layout = "~/Views/Shared/_LayoutUSER.cshtml";
}
 

<br />
@if (Session["iduser"] != null && (String)Session["iduser"] != " ")
{
    <script> window.location.href='@Url.Action("Index", "Usuario")'; </script>
}
@if (ViewBag.Men == "usuario incorrecto")
{
    @:<div class="container">
        @:<h2>Error</h2>
        @:<div class="alert alert-danger">
            @:<strong>Error de usuario:</strong> Los datos que ha introducido no son correctos
            @:</div>
                @:</div>
    }


<br />
<br />
<div class="row">
    <div class="col-xs-12 text-center">
        <img src="https://image.freepik.com/iconos-gratis/user-avatar_318-85029.jpg" class="img-responsive" style="margin:0 auto;">
        <h3>&nbsp;Mi perfil</h3>
    </div>
</div>
<!-- porque nunca funciona visual studio?-->


<div class="row">
    <div class="col-xs-10" style="margin-left:10%;">
        <h4 class="">Editar</h4>
        @using (Html.BeginForm("RegistroUser", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <label for="nick">Nickname:</label>
                <input type="text" class="form-control" name="nick" id="nick">
            </div>
            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" class="form-control" name="name" id="name">
            </div>
            <div class="form-group">
                <label for="phone">Telefono(opcional):</label>
                <input type="text" class="form-control" name="phone" id="phone">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
                    <div class="form-group">
                        <label for="pwd">Cambiar Password:</label>
                        <input type="password" class="form-control" id="pwd" name="pwd">
                    </div>
                    <div class="form-group">
                        <label for="pwd2">Repetir password:</label>
                        <input type="password" class="form-control" id="pwd2" name="pwd2">
                    </div>
                    <div class="form-group">
                        <label for="fil">Imagen de perfil:</label>
                        <input type="file" class="form-control" id="fil" name="fil">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="poli"><a href="#">Acepto las politicas</a></label>
                    </div>
                    <button type="submit" class="btn btn-success">Confirmar</button>
                    <button type="button" class="btn btn-default">Cancelar</button>
        }
    </div>
</div>

