@model IEnumerable<TagLifeASPMVC.Models.Publicacion>


    @if (Model != null)
    {
    foreach (var item in Model)
    {
    @:<div class="col-md-3">
        @:<div id="section1" class="thumbnail">
            @:<a href="@Url.Action("Index", "Publicacion",new {idpublicacion = item.iD})">
                @:<img src="@Html.DisplayFor(modelItem => item.Archivo)" alt="@Html.DisplayFor(modelItem => item.Nombre)" class="img-rounded" style="width:150%">
            @:</a>
            @:<div class="caption text-center">
                @:<p><kbd>@Html.DisplayFor(modelItem => item.Nombre)</kbd></p>
            @:</div>
            <!--</a>-->
        @:</div>
    @:</div>
    }
    }
