@model IEnumerable<TagLifeASPMVC.Models.Publicacion>

@{
    ViewBag.Title = "Busqueda avanzada";
    Layout = "~/Views/Shared/_LayoutUSER.cshtml";
}

<h3>Resultados de la busqueda:</h3>
<br />
<a href="#" data-toggle="modal" data-target="#myModal">Busqueda Avanzada</a>
<br />

<div class="row">
    <div class="col-sm-12">
        @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    //@:<img class="img-responsive" src="@Html.DisplayFor(modelItem => item.Archivo)" alt="@item.Nombre" style="width:25%"/>
                    @:<img src="@Html.DisplayFor(modelItem => item.Archivo)" class="img-thumbnail" alt="@item.Nombre" style="width:24%">
                }   
            }
        }
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Busqueda avanzada</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SearchAv", "Usuario", FormMethod.Post))
                {
                    @:<input type="text" name="busqueda" class="form-control" placeholder="Escribe tu busqueda">
                    Html.RenderAction("CategoriaList", "Categoria");
                    <input type="submit" />
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>