@model IEnumerable<TagLifeASPMVC.Models.Publicacion>



@if (Model != null && ViewBag.Mensaje != "NoCategorias")
{
    @:<div class="tab-pane fade">
    foreach (var item in Model)
    {
        var cont = 0;
        if (cont != 1)
        {
            @:<li class="active">
        }
        else
        {
            @:<li>
        }
        @:<a data-toggle="tab" href="#@Html.DisplayFor(modelItem => item.Nombre)">@Html.DisplayFor(modelItem => item.Nombre)</a>
        @:</li>



    }
}

    @if (ViewBag.Mensaje != "NoCategorias")
    {

          @:<div class="tab-content">
              {Html.RenderAction("Capa", "Publicacion", new { cate = "GATOS" });}
          @:</div>
    }

    @if(ViewBag.Mensaje == "NoCategorias"){
        <h3>No estás siguiendo ninguna categoría.</h3>
    }