@model IEnumerable<TagLifeASPMVC.Models.Publicacion>

<div class="row">
    <div class="col-sm-12">
@if (Model != null)
{
    foreach (var item in Model)
    {
            @:<a href="@Url.Action("Index", "Publicacion", new { idpublicacion = item.iD })">
                @:<img class="img-thumbnail" src="@Html.DisplayFor(modelItem => item.Archivo)" style="width:24%" alt="@Html.DisplayFor(modelItem => item.Nombre)">
            @:</a>
    }
}

</div>
</div>