@model IEnumerable<TagLifeASPMVC.Models.Publicacion>
@{
    if (Model != null)
    {
        var contador = 0;
        foreach (var item in Model)
        {

            if (contador < 3)
            {
                if (contador == 0)
                {
                    @:<div class="row">
                }
                @:<div class="col-md-4">
                    @:<div class="thumbnail">
                        @:<img src="@Html.DisplayFor(modelItem => item.Archivo)" alt="Lights" style="width:100%">
                        @:<div class="caption">
                            @:<p>@item.Nombre</p>
                            @:
                        </div>
                        @:
                    </div>
                    @:
                </div>
             contador++;
            }
            if (contador == 3)
            {
                @:
            </div>
                    contador = 0;
            }
        }
    }
    else
    {
        <h4><b> No hay Me gusta</b></h4>
    }
}