@model IEnumerable<TagLifeASPMVC.Models.Publicacion>
@{
    if (Model != null)
    {
        var contador = 0;
        foreach (var item in Model){
            
            if (contador < 3)
            {
                if(contador == 0)
                {
                    @:<div class="row">
                }
            @:<div class="col-md-4">
                @:<div class="thumbnail">
                    if (item.Tipo == "Imagen")
                    {
                        @:<img src="@Html.DisplayFor(modelItem => item.Archivo)" alt="Lights" style="width:100%">
                    }
                    else if (item.Tipo == "Video")
                    {
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="@Html.DisplayFor(modelItem => item.Archivo)"></iframe>
                        </div>
                    }
                    else if (item.Tipo == "Audio")
                    {
                        <iframe style="width:100%" frameborder="0" allowfullscreen="" scrolling="no" src="@Html.DisplayFor(modelItem => item.Archivo)"></iframe>
                    }
                        @:<div class="caption">
                            @:<p>@item.Nombre</p>
                        @:</div>
                    @:</div>
             @:</div>
             contador++;
            }
            if(contador == 3)
            {
                    @:</div>
                    contador = 0;
             }
        }
    }
    else
    {
        <h4><b> No hay ultimas publicaciones</b></h4>
    }
}