@model IEnumerable<TagLifeASPMVC.Models.Categoria>

<h2><button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-plus"></i></button>CATEGORIAS</h2>

@if (Model != null)
{
    @:<p>
    foreach (var item in Model)
    {

        @:<a href="@Url.Action("AgregarCateg", "Usuario", new { idCategoria = item.iD })">+</a><span>@item.Nombre</span>


    }
    @:</p>
}
