@model IEnumerable<TagLifeASPMVC.Models.Comentario>


@if (Model != null)
{
    foreach (var item in Model)
    {
        @:<div style="background-color: whitesmoke">
        @:<p style="background-color: moccasin;">@item.ID</p>
        @:<p>@item.Contenido</p>
        @:</div>
    }
}