@model IEnumerable<TagLifeASPMVC.Models.Publicacion>


@if (Model != null)
{
    foreach (var item in Model)
    {
        @:<h2>COMENTARIOS:</h2>
        @:<p>Html.DisplayFor(modelItem => item.Nombre)</p>
        @:<p>Html.DisplayFor(modelItem => item.Comentario)</p>
        //@:<textarea></textarea>

    }
}