@model TagLifeASPMVC.Models.Usuario

@{
    ViewBag.Title = "CrearEtiqueta";
    Layout = "~/Views/Shared/_LayoutUSER.cshtml";
}

<br />
<br />
<div class="row">
    <div class="col-xs-12 text-center">
        <h3>&nbsp;Creación de etiquetas:</h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-8 col-xs-offset-2 well well-lg">
        @using (Html.BeginForm("CrearEtiqueta", "Publicacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <label for="etiquetas">Introduzca la/s etiqueta/s que desea crear (separadas por comas):</label>
            <input type="text" class="form-control" id="etiquetas" name="etiquetas" placeholder="Escribe aquí las etiquetas"><br />
            <button type="submit" class="btn btn-success">Confirmar</button>
        }
    </div>
</div>