@model TagLifeASPMVC.Models.Publicacion

@{
    ViewBag.Title = Model.Nombre;
    Layout = "~/Views/Shared/_LayoutUSER.cshtml";
}



<h2 class="text-center"><kbd>Publicación</kbd></h2>
<br />
<hr />
<br />
<div class="row">
    <div class="col-sm-4 text-center">
        <div id="section2" class="thumbnail">
                <img src="@Model.Archivo" alt="Lights" class="img-rounded" style="width:150%">
                <div class="caption text-center">
                    <p><kbd>@Model.Nombre</kbd></p>
                </div>
        </div>
        <button href="@Url.Action("Index", "Publicacion", new { idpublicacion = Model.iD })" type="button" class="btn btn-danger"><i class="glyphicon glyphicon-eye-open"></i>Reporte</button>
        <button href="@Url.Action("Index", "Publicacion", new { idpublicacion = Model.iD })" type="button" class="btn btn-success"><i class="glyphicon glyphicon-heart"></i>Like</button>
    </div>
    <div class="col-sm-4">
        <h2>COMENTARIOS:</h2>
        <p>Usuario</p>
        <p>Fecha de publicación</p>
        <p>Muy interesante!:D</p>

    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-3">
        <br />
        <h2><button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-plus"></i></button>CATEGORIAS</h2>
        <p> TERROR</p>
        <p> ANIMALES</p>
        <p> GATOS</p>
        <h2><button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-plus"></i></button>ETIQUETAS</h2>
        <p> GATO</p>
        <p> SUSPENSE</p>
    </div>
</div>
