@model TagLifeASPMVC.Models.Publicacion

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUSER.cshtml";
}



<h2 class="text-center"><kbd>Publicación</kbd></h2>
<br />
<hr />
<br />
<div class="row">
    <div class="col-sm-4 text-center">
        <div id="section2" class="thumbnail">
            <a href="archivos/2017/08/datos-sobre-tigres-1.jpg.imgw_.1280.1280.jpeg" target="_blank">
                <img src="http://www.nexofin.com/archivos/2017/08/datos-sobre-tigres-1.jpg.imgw_.1280.1280.jpeg" alt="Lights" class="img-rounded" style="width:150%">
                <div class="caption text-center">
                    <p><kbd>TIGRES</kbd></p>
                </div>
            </a>
        </div>
        <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-eye-open"></i>Reporte</button>
        <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-heart"></i>Like</button>
    </div>
    <div class="col-sm-4">
        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>

        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>

        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        <h2>COMENTARIOS:</h2>
        <p>Usuario</p>
        <p>Fecha de publicación</p>
        <p>Muy interesante!:D</p>

    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-3">
        <br />
        <h2><button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-plus"></i></button>CATEGORIAS</h2>
        <p> TERROR</p>
        <p> ANIMALES</p>
        <p> GATOS</p>
        <h2><button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-plus"></i></button>ETIQUETAS</h2>
        <p> GATO</p>
        <p> SUSPENSE</p>
    </div>
</div>
