@model TagLifeASPMVC.Models.Publicacion

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUSER.cshtml";
}

<h2 class="text-center"><kbd>Publicación</kbd></h2>
<br />
<hr />
<br />
<div class="row">
    <div class="col-sm-4 text-center">
        <div id="section2" class="thumbnail">
            
            <img src="@Html.DisplayFor(modelItem => Model.Archivo)" alt="@Html.DisplayFor(modelItem => Model.Nombre)" class="img-rounded" style="width:150%">
            <div class="caption text-center">
                <p><kbd>@Html.DisplayFor(modelItem => Model.Nombre)</kbd></p>
            </div>
        
        </div>
        <a href="@Url.Action("Reportar", "Usuario", new { idpu = ViewBag.idp })"><button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-eye-open"></i>Reporte</button></a>
        <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-heart"></i>Like</button>
    </div>
    <div class="col-sm-4">
        <h2>COMENTARIOS:</h2>
        @{Html.RenderAction("Comentarios", "Publicacion", new { IdPubli = Model.iD });}

        @using (Html.BeginForm("FormComent", "Publicacion", new { IdPubli = Model.iD })){
            <textarea id="comentario" name="comentario"></textarea>
            <button type = "submit" class="btn btn-success"><i class="glyphicon glyphicon-send"></i>Comentar</button>
        }

    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-3">

        @{Html.RenderAction("Categ", "Publicacion", new { IdPubli = Model.iD });}
        @{Html.RenderAction("Etique", "Publicacion", new { IdPubli = Model.iD });}
    
    </div>
</div>
