@model TagLifeASPMVC.Models.Publicacion

@{
    ViewBag.Title = Model.Nombre;
    Layout = "~/Views/Shared/_LayoutUSER.cshtml";
}



<h2 class="text-center"><kbd>Publicación</kbd></h2>
<br />
<hr />
<br />
<div class="row">
    <div class="col-sm-4 text-center">
        <div id="section2" class="thumbnail">
                <img src="@Model.Archivo" alt="Lights" class="img-rounded" style="width:150%">
                <div class="caption text-center">
                    <p><kbd>@Model.Nombre</kbd></p>
                </div>
        </div>
        <button href="@Url.Action("Index", "Publicacion", new { idpublicacion = Model.iD })" type="button" class="btn btn-danger"><i class="glyphicon glyphicon-eye-open"></i>Reporte</button>
        <button href="@Url.Action("Index", "Publicacion", new { idpublicacion = Model.iD })" type="button" class="btn btn-success"><i class="glyphicon glyphicon-heart"></i>Like</button>
    </div>
    <div class="col-sm-4">

        @{Html.RenderAction("Comentarios", "Publicacion", new { IdPubli = Model.iD });}

    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-3">

        @{Html.RenderAction("Categ", "Publicacion", new { IdPubli = Model.iD });}
        @{Html.RenderAction("Etique", "Publicacion", new { IdPubli = Model.iD });}

    </div>
</div>
