@{
    ViewBag.Title = "¿Quienes Somos?";
}

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h3>¿Quienes Somos?</h3>
        <p>Esta idea nacio en un grupo de trabajo donde jovenes estudiantes y emprendedores les toco hacer un proyecto, en un principio ibamos a hacer una tienda online de hamburguesas congeladas y precocinadas a 360 º pero descartamos esta idea, para hacer una especie de red social basada en contenido multimedia y sabeis porque ?????? porque eramos futuros ingenieros multimedia en plena ola de ideas y pensemos porque no. </p>
        <p><b>Asi se hizo LifeTag</b></p>
    </div>
    <div class="col-sm-2"></div>
</div>