@{
    ViewBag.Title = "Home Page";
}
    <br />
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="btn-group btn-group-justified">
                <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Login</a>
                <a href="@Url.Action("Register", "Account")" class="btn btn-primary">Registro</a>
        </div> 
        </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row"><div class="col-xs-12"><h3>&nbsp;Ultimas publicaciones:</h3></div></div>
    <div id="vista1">
        @{Html.RenderAction("CargarUltimasPublicaciones", "Publicacion");} 
    </div>