@model TagLifeASPMVC.Models.Administrador

@{
    ViewBag.Title = "categorias";
     ViewBag.Titulop = "Crear Categorias";
    Layout = "~/Views/Shared/_LayoutADMIN.cshtml";
}

<br />
@if (ViewBag.Men == "usuario incorrecto")
{
    @:<div class="container">
        @:<h2>Error</h2>
            @:<div class="alert alert-danger">
                @:<strong>Error de usuario:</strong> Los datos que ha introducido no son correctos
                @:</div>
            @:</div>
    }

<br />
<br />
<div class="row">
    <div class="col-xs-1"></div>
	<div class="col-xs-5">        
        <h3>&nbsp;Categorias Existentes:</h3>
        @{Html.RenderAction("CargarCategorias", "Categoria");}
    </div>

    <div class="col-xs-5">       
        <h3>&nbsp;Crear nueva Categoria</h3>
	<br/>
		@using (Html.BeginForm("CrearCategoria", "Categoria", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripcion:</label>
                            <input type="descripcion" class="form-control" id="descripcion" name="descripcion" required>
                        </div>
                     <div class="form-group">
                         <label for="edad"> Edad: </label>
                         <input type="number" name="edad" min="1" max="99" required>
                    </div> 
                   <button type="submit" class="btn btn-danger">Crear Categoria</button>
                   <button type="reset" class="btn btn-default">Cancelar</button>
           
		}

    </div>
    <div class="col-xs-1"></div>
</div>
