@model IEnumerable<TagLifeASPMVC.Models.Comentario>

@{
    ViewBag.Title = "Moderar Comentarios";
    Layout = "~/Views/Shared/_LayoutADMIN.cshtml";
}

<div class="container">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Contenido</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @if (Model != null)
            {
                foreach (var comen in Model)
                {
                    @:<tr>
                        @:<td>@comen.ID</td>
                        @:<td>@comen.Contenido</td>
                        @:<td><a href="@Url.Action("BorrarComentario", "Administrador", new { idcomentario = comen.ID,idpublicacion = ViewBag.idpu })">Borrar</a></td>
                    @:</tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
