@model IEnumerable<TagLifeASPMVC.Models.Publicacion>

@{
    ViewBag.Title = "Busqueda avanzada";
    Layout = "~/Views/Shared/_LayoutADMIN.cshtml";
}

<h3>Resultados de la busqueda:</h3>
@{Html.RenderAction("Searchi", "Publicacion", new { busqueda = ViewBag.Busqueda });}