@model IEnumerable<TagLifeASPMVC.Models.Publicacion>

@{
    ViewBag.Title = "Busqueda avanzada";
    Layout = "~/Views/Shared/_LayoutADMIN.cshtml";
}

<h3>Resultados de la busqueda:</h3>

<div class="row">
    <div class="col-sm-12">
        @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    //@:<img class="img-responsive" src="@Html.DisplayFor(modelItem => item.Archivo)" alt="@item.Nombre" style="width:25%"/>
                    @:<img src="@Html.DisplayFor(modelItem => item.Archivo)" class="img-thumbnail" alt="@item.Nombre" style="width:24%">
            }
            }
        }
    </div>
</div>